
.subscribe-button {
	background-color: rgb(211, 5, 5);
	color: white;
	border: none;
	height: 36px;
	width: 105px;
	border-radius: 2px;
	cursor: pointer;
}
		
.join-button {
	background-color: white;
	color: rgb(108, 108, 255);
	border-width: 1px;
	border-color: rgb(108, 108, 255);
	border-style: solid;
	height: 36px;
	width: 64px;
	border-radius: 2px;
	cursor: pointer;
}
		
.tweet-button {
	background-color: rgb(128, 128, 255);
	color: white;
	font-weight: bold;
	font-size: 15px;
	border: none;
	height: 36px;
	width: 72px;
	border-radius: 18px;
	cursor: pointer;
}